// Importamos nuestras tipografías de Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400&display=swap');

:root {
    // Agregamos nuestros colores como variables a :root, así podremos usarlo desde otros componentes
    --terra-cota: #E76F51;
    // Con #{} estamos forzando la ejecución de SASS pues de otro modo se interpretaría como string
    --terra-cota-light: #{darken(#E76F51, 10%)};
    --isabelline: #ECEBE4;
    --eerie-black: #151515;
    --maize-crayola: #E9C46A;
    --persian-green: #2A9D8F;
    --charcoal: #264653;
    --raisin-black: #272727; 
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Imprima', 'sans-serif';
}

@for $i from 1 through 4 {
    .display-#{$i} {
        font-family: 'Heebo', 'sans-serif';
    }
}
// Esto no es mío, es copia y pega de https://codepen.io/cusx/pen/jBjWyV
// y seguro que es copia y pega (adaptado mínimamente) del original que hizo Facebook en su momento
@keyframes placeHolderShimmer { 
    0% { 
        background-position: -500px 0;
    } 
    100% { 
        background-position: 500px 0;  
    } 
}
.animate-bg { 
    animation-name: placeHolderShimmer; 
    animation-timing-function: linear; 
    background-color: #f3f3f3;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    animation: placeHolderShimmer 2s linear 0s infinite normal forwards;
}

