// Habilitamos el "responsive" de Boostrap
$enable-responsive-font-sizes: true;

// Reemplazamos el sistema de tipografías por el nuestro
$font-family-base: 'Prompt', sans-serif;
$headings-font-weight:        400;
$display1-weight:             700;
$display2-weight:             500;
$display3-weight:             300;
$display4-weight:             100;