#ComicDetails {
    background-color: var(--persian-green);
    .comic_content {
        .actions {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding-top: 15px;
            padding-bottom: 30px;
            .btn {
                display: inline-block;
                color:var(--white);
                padding: 14px 20px;
                border-radius: 4px;
                outline: 0;
                vertical-align: middle;
                user-select: none;
                text-align: center;
                text-decoration: none;
                margin-right: 10px;
            }
            .btn_add {
                display: inline-block;
                border: none;
                color:var(--white);
                background-color: var(--terra-cota);
                text-decoration: none;
                padding: 14px 20px;
                border-radius: 4px;
                outline: 0;
                vertical-align: middle;
                user-select: none;
                text-align: center;
                text-decoration: none;
                &:hover {
                    background-color: var(--terra-cota-light);
                }
                &.disabled {
                    display: none;
                }
            }
        }
    }
}