// Debido a que React no soporta importar SCSS de forma global
// tendremos que importar la utilidad Responsive Font Size (rfs)
// que usa bootstrap. Esta utilidad nos permite agregar el mixin
// font-size que transforma de PX a rem para que nuestro texto sea
// 100% ajustado y responsive 🤤
@import "~bootstrap/scss/vendor/rfs";

#Home {
    padding-top: 30px;
    .custom_text_size_display {
        @include font-size(35);
    }
    .custom_text_size_lead {
        @include font-size(20);
        padding-top: 10px;
        padding-bottom: 35px;
    }
    .btn {
        display: inline-block;
        color:var(--white);
        background-color: var(--terra-cota);
        padding: 14px 60px;
        border-radius: 4px;
        outline: 0;
        vertical-align: middle;
        user-select: none;
        text-align: center;
        text-decoration: none;
        &:hover {
            background-color: var(--terra-cota-light);
        }
    }
    .lastest_comics {
        margin-top: 60px;
        background-color: var(--raisin-black);
        .latest_section {
            color: var(--white);
            text-align: center;
            padding-top: 65px;
            padding-bottom: 50px;
        }
        .comic_grid {
            .comic_item_container {
                margin-bottom: 35px;
                margin-bottom: 70px;
                .comic_item {
                    width: 100%;
                    // Las portadas de los comic son de 370 * 255 
                    padding-top: 370 / 255 * 100%;
                    background-size: cover;
                    background-position: left center;
                }
            }
        }
        .view_all_cta {
            padding-bottom: 70px;
        }
    }
}