#Loader {
    background-color: var(--persian-green);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .loader_image {
        max-width: 40%;
        height: auto;
        position: absolute;
        opacity: 0;
    }
}