@import "./assets/scss/overrides";
// functions: es necesario importarlo pues el resto de componentes depende de ellas.
// Contiene, entre otros, utilidades para generar colores del tema, calcular medidas...
@import "~bootstrap/scss/functions";
// variables: es necesario importarlo pues el resto de componentes depende de ellas.
// Contiene, entre otros, los puntos de ruptura del grid (breakpoints para el responsive).
@import "~bootstrap/scss/variables";
// mixins: es necesario importarlo pues el resto de componentes depende de ellas.
// Contiene funciones (mixins) que generan CSS necesario para, por ejemplo, generar el CSS del grid
@import "~bootstrap/scss/mixins";
// root: es necesario pues contiene las variables CSS que se almacenan el :root.
// colores, tamaños, etc.
@import "~bootstrap/scss/root";
// reboot: es necesario pues "elimina" (resetea) los comportamientos CSS generados por el navegador
@import "~bootstrap/scss/reboot";
// type: necesario pues queremos usar el sistema de tipografías de Bootstrap.
@import "~bootstrap/scss/type";
// images: necesario pues contiene utilidades para el responsive de los elementos img
@import "~bootstrap/scss/images";
// grid: contiene el grid de Bootstrap, el principal motivo de escoger esta utilidad
@import "~bootstrap/scss/grid";
// nav y navbar: contienen el CSS necesario para generar los navbar de Bootstrap
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// utilities: necesario por dependencias. Contiene utilidades para alinear elementos, sombras, flex...
@import "~bootstrap/scss/utilities";
// transitions: necesario para navbar (ocultar y mostrar)
@import "~bootstrap/scss/transitions";
// Importamos nuestro SCSS "global"
@import "./assets/scss/global";

// Agregamos los estilos CSS para indicar nuestro Item Actual
#menu_principal {
    .nav-item {
        .currentItem {
            color: red;
        }
    }
}